---
import Card from "../components/TextualCard.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import logo from "../assets/muse_full.webp";
import Heading from "../components/Heading.astro";
---

<Layout title="categoriees">
  <Navbar />
  <div class="flex h-screen">
    <div class="w-1/4 flex items-center justify-center">
      <Image src={logo} alt="muse logo" class="mb-5 animate-stagger mx-auto" />
    </div>
    <div class="w-3/4 flex items-center justify-center">
      <Heading title="coming soon..." />
    </div>
  </div>
</Layout>
