---
import Card from "../components/CardText.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import logo from "../assets/muse_full.webp";
---

<Layout title="categoriees">
  <Navbar />
  <div class="flex h-screen">
    <div class="w-1/4 flex items-center justify-center">
      <Image src={logo} alt="muse logo" class="mb-5 animate-stagger mx-auto" />
    </div>
    <div class="w-3/4 flex items-center justify-center">
      <h3 class="text-white text-center text-5xl font-bold">coming soon...</h3>
    </div>
  </div>
</Layout>
