---
import CategoryCard from "../components/CategoryCard.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="categories">
  <Navbar />
  <div class="flex justify-center">
    <div class="grid gap-5 grid-cols-4 my-20 overflow-x-auto">
      <!-- music  -->
      <CategoryCard category="crescendo" />
      <CategoryCard category="battle of the bands" />
      <CategoryCard category="originals" />
      <CategoryCard category="tune titans" />

      <!-- drama  -->
      <CategoryCard category="rhapsody" />
      <CategoryCard category="comedy of errors" />
      <CategoryCard category="metadrama" />
      <CategoryCard category="improv" />
    </div>
  </div>
</Layout>
