---
import Card from "../components/Card.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="categoriees">
  <Navbar />
  <div class="flex h-screen justify-center">
    <div
      class="grid grid-cols-3 gap-5 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 mt-10"
    >
      <CategoryCard category="tune titans" />
      <CategoryCard category="crescendo" />
      <CategoryCard category="battle of the bands" />
      <CategoryCard category="originals" />

      <CategoryCard category="crescendo" />
    </div>
  </div>
</Layout>
