---
import Card from "../components/Card.astro";
import ContactSlot from "../components/ContactSlot.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import logo from "../assets/muse_full.webp";
import Heading from "../components/Heading.astro";
---

<Layout title="info">
  <Navbar />
  <Image
    src={logo}
    alt="muse logo"
    class="mb-5 p-10 animate-stagger mx-auto max-w-2xl"
  />
  <Card>
    <Heading title="event organisers" styling="mb-5" />
    <div class="grid grid-cols-2 gap-4">
      <ContactSlot title="Saad Ahmed" phone="+92 336 0455056" />
      <ContactSlot title="Qasim Hasnain Kazmi" phone="+92 310 8857777" />
      <div class="col-span-3 items-center justify-center flex">
        <ContactSlot title="Shirjeel Ahmad" phone="+92 301 9059055" />
      </div>
    </div>
  </Card>
  <Card>
    <Heading title="location" styling="mb-5" />
    <div class="grid grid-cols-2 gap-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6806.269650242077!2d74.28095834309686!3d31.46547714819645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903e0fc887323%3A0xab96115d544c1796!2sLahore%20Grammar%20School%20for%20Boys%20(LGS%20JT)!5e0!3m2!1sen!2s!4v1705616464745!5m2!1sen!2s"
        width="400"
        height="300"
        style="border:0;"
        loading="lazy"
        class="rounded-lg"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <h2 class="text-white text-2xl font-bold p-3 leading-loose">
        Lahore Grammar School <br /> Johar Town 364/E-1 <br /> Mon - Fri 9am - 5pm
      </h2>
    </div>
  </Card>
</Layout>
