---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import CommonHead from "../components/CommonHead.astro";
---

<Layout title="home">
  <div class="flex items-center justify-center h-screen">
    <div class="flex items-center justify-center flex-col">
      <h2 class="subtitle-gradient font-bold pt-2 text-3xl animate-stagger">
        LGS JT presents
      </h2>
      <img
        class="logo mb-5 animate-stagger"
        src="muse_500px.png"
        alt="muse logo"
      />

      <Navbar />
    </div>
  </div>
</Layout>

<style>
  .subtitle-gradient {
    background-image: var(--secondary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
