---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

import { Image } from "astro:assets";
import logo from "../assets/muse_full.webp";
import Heading from "../components/Heading.astro";
---

<Layout title="home">
  <div class="flex items-center justify-center h-screen">
    <div class="flex flex-col items-start">
      <Heading title="LGS JT presents" styling="text-left mx-[5.4rem]" />
      <Image
        src={logo}
        alt="muse logo"
        loading="lazy"
        class="mb-10 animate-stagger sm:max-w-5xl lg:max-w-3xl ml-4"
      />
      <Navbar />
    </div>
  </div>
</Layout>
