---
import Card from "../components/Card.astro";
import TextualCard from "../components/TextualCard.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import logo from "../assets/muse_full.webp";
import Heading from "../components/Heading.astro";
---

<Layout title="info">
  <Navbar />
  <Image
    src={logo}
    alt="muse logo"
    loading="lazy"
    class="mb-5 p-10 animate-stagger mx-auto max-w-2xl"
  />
  <TextualCard
    title="what is muse?"
    description=`Managed by the Arts Council of the senior A2
  batch of LGS Johar Town, Muse '24 is the
  first edition to JT's newest addition to its
  unparalleled lineup of events in the local circuit.
  Years in planning, JT Muse is an Arts Olympiad
  showcasing art at its most refined form, with a
  plethora of subevents focusing on various
  outlets of artistic expression: Art, Literature,
  Drama, Media, and Music.`
  />
  <Card>
    <Heading title="teaser video" styling="mb-5" />
    <div
      style="position:relative; width:100%; height:0px; padding-bottom:56.250%"
      class="animate-stagger delay-200"
    >
      <iframe
        allow="fullscreen"
        title="teaser video"
        allowfullscreen
        height="100%"
        src="https://streamable.com/e/4xbuih?"
        width="100%"
        style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;"
      ></iframe>
    </div>
  </Card>
</Layout>
