---
import Card from "../components/CardText.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import logo from "../assets/muse_full.webp";
---

<Layout title="registration">
  <Navbar />
  <div class="flex items-center justify-center h-screen">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSc8ZA-LbX4oE9tvBWwof26F2HWLEG5VXf2aMuEGWnSchGUB4Q/viewform?embedded=true"
      width="640"
      height="959"
    >
      </Layout>
    </iframe>
  </div>
</Layout>
