---
import Card from "../components/TextualCard.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import logo from "../assets/muse_full.webp";
import HeroButton from "../components/HeroButton.astro";
import Heading from "../components/Heading.astro";
---

<Layout title="registration">
  <Navbar />
  <div class="flex flex-col items-center justify-center p-10">
    <HeroButton title="code of conduct" href="https://google.com" />
  </div>
  <Heading title="registration form" styling="mb-5  " />
  <div class="flex items-center justify-center">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSc8ZA-LbX4oE9tvBWwof26F2HWLEG5VXf2aMuEGWnSchGUB4Q/viewform?embedded=true"
      width="640"
      height="700"
    >
      </Layout>
    </iframe>
  </div>
</Layout>
