---
import Heading from "./Heading.astro";

interface Props {
  title: string;
  phone: string;
}

const { title, phone } = Astro.props;
---

<div class="bg-blue-900 opacity-75 rounded-lg p-4 w-2xl">
  <Heading title={title} styling="sm:text-3xl lg:text-xl" />
  <h3
    class="text-gray-300 text-center text-xl lg:text-md sm:text-2xl font-bold font-mono animate-stagger"
  >
    {phone}
  </h3>
</div>
