---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a
  href={href}
  class="bg-blue-600 hover:bg-blue-400 text-white text-xl py-2 px-4 sm:py-4 sm:px-8 rounded-md inline-flex items-center font-bold"
>
  {title}
</a>
