---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a
  href={href}
  class="bg-blue-600 hover:bg-blue-400 text-white text-xl font-bold py-2 px-4 rounded-md inline-flex items-centER"
>
  {title}
</a>
