---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a
  href={href}
  class="bg-blue-600 hover:bg-blue-400 text-white text-xl sm:max-lg:text-4xl py-2 px-4 sm:max-lg:py-6 sm:max-lg:px-10 rounded-md inline-flex items-center font-bold m-5"
>
  {title}
</a>
