---
interface Props {
  current: string;
}

const current = Astro.props;
---

<nav class="bg-blue-600 p-2 px-10 rounded-3xl mx-auto mt-5 max-w-2xl">
  <div class="flex justify-center items-center text-2xl">
    <div class="flex items-center space-x-2 font-bold">
      <a href="/" class="text-white">home</a>
      <span class="text-gray-300">•</span>
      <a href="/categories" class="text-gray-300 hover:text-white">info</a>
      <span class="text-gray-300">•</span>
      <a href="/categories" class="text-gray-300 hover:text-white">categories</a
      >
      <span class="text-gray-300">•</span>
      <a href="https://forms.google.com" class="text-gray-300 hover:text-white"
        >register</a
      >
    </div>
  </div>
</nav>
