---
import { Debug } from "astro:components";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(2);
---

<nav
  class="bg-blue-600 lg:py-2 lg:px-20 sm:py-4 sm:px-40 rounded-3xl mx-auto mt-10 lg:max-w-2xl sm:max-w-4xl text-gray-300"
>
  <div
    class="flex justify-center items-center lg:text-2xl md:text-4xl sm:text-4xl"
  >
    <div class="flex items-center space-x-2 font-bold">
      <a href="/" class=`${currentPath === "" ? "text-white" : ""}`>home</a>

      <span>•</span>

      <a href="/info" class=`${currentPath === "info" ? "text-white" : ""}`
        >info</a
      >

      <span>•</span>

      <a
        href="/categories"
        class=`${currentPath === "categories" ? "text-white" : ""}`
        >categories</a
      >
      <span>•</span>
      <a
        href="/registration"
        class=`${currentPath === "registration" ? "text-white" : ""}`
      >
        registration</a
      >
      <span>•</span>
      <a
        href="/contact"
        class=`${currentPath === "contact" ? "text-white" : ""}`
      >
        contact</a
      >
    </div>
  </div>
</nav>

<style>
  .active {
    @apply text-white;
  }
</style>

<Debug {currentPath} />
