<nav class="bg-blue-600 p-2 px-10 rounded-3xl mx-auto mt-5 max-w-2xl">
  <div class="flex justify-center items-center text-xl">
    <div class="flex items-center space-x-2 font-bold">
      <a href="#" class="text-white">Home</a>
      <span class="text-gray-300">•</span>
      <a href="#" class="text-gray-300 hover:text-white">Categories</a>
      <span class="text-gray-300">•</span>
      <a href="#" class="text-gray-300 hover:text-white">Register</a>
    </div>
  </div>
</nav>
