---
import Card from "./Card.astro";
import Heading from "./Heading.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Card>
  <Heading title={title} />
  <p
    class="text-white mt-2 text-2xl sm:text-4xl lg:text-2xl p-2 leading-10 delay-200 animate-stagger"
  >
    {description}
  </p>
</Card>
