---
import CommonHead from "../components/CommonHead.astro";
//import background from "../assets/reimagined.png";

interface Props {
  title: string;
  fullscreen?: boolean;
}

const { title, fullscreen } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class=`bg-[url(/reimagined.png)] bg-center bg-cover bg-scroll bg-no-repeat bg-[#010822]`
>
  <CommonHead
    title={title}
    description="Muse is the first Arts Olympiad in LGS JT's history to be managed by the Senior Arts Council."
  />
  <body class="sm:h-screen md:h-screen lg:h-auto">
    <slot />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
      html {
        font-family: Raleway, sans-serif;
      }
    </style>
  </body>
</html>
