---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

  :root {
    --accent: rgb(204, 155, 70);
    --accent-light: rgb(237, 202, 144);
    --accent-dark: 49, 10, 101;

    --secondary: #e3ac5a;
    --secondary-light: #c79242;

    --accent-gradient: linear-gradient(
      45deg,
      var(--accent),
      var(--accent-light) 30%,
      white 60%
    );

    --secondary-gradient: linear-gradient(
      40deg,
      var(--secondary),
      var(--secondary-light) 30%,
      white 60%
    );
  }

  body {
    background: linear-gradient(30deg, #050c1f, #0a183f);
    background-size: 400% 400%;

    animation: scrollGradient 20s ease infinite;
  }

  @keyframes scrollGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  html {
    font-family: Kalam, sans-serif;
    cursor:
      url("logo.png") 10 10,
      auto;
  }
</style>
