---
import CommonHead from "../components/CommonHead.astro";
//import background from "../assets/reimagined.png";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class=`bg-[url(/reimagined.png)] bg-center bg-cover bg-scroll bg-no-repeat bg-[#010822]`
>
  <CommonHead
    title={title}
    description="Muse is the first Arts Olympiad in LGS JT's history to be managed by the Senior Arts Council."
  />
  <body>
    <slot />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
      /*
      body {
        background: linear-gradient(45deg, #050c1f, #0d1f4f);
        background-size: 400% 400%;

        animation: scrollGradient 20s ease infinite both;
      }

      @keyframes scrollGradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
*/
      html {
        font-family: Raleway, sans-serif;
      }
    </style>
  </body>
</html>
