---
import HeroButton from "../components/HeroButton.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "./Layout.astro";

interface Props {
  category: string;
}

const { category } = Astro.props;
---

<Layout title=`categories - ${category}`>
  <Navbar />
  <div class="flex justify-center items-center p-5">
    <HeroButton title="back to categories ⤴" href="../categories" styling="" />
  </div>

  <div class="flex justify-center mb-10">
    <div class="grid grid-cols-2 gap-5 mb-10">
      <slot />
    </div>
  </div>
</Layout>
